<div class="jumbotron">
  <h1>TravelMate</h1>
  <p class="lead">
    Your modern travel payments service!
  </p>
</div>

<div class="article_box" style="padding-top:20px;">
  <div class="row">
    <div align="left" class="col-sm-6" >
      <h3><i class="fa fa-flag" ></i>&nbsp;&nbsp;Instant Topups</h3>
    </div>
  </div>
  <div class="row">
    <div align="left" class="col-sm-12" >
      <p style="text-align:justify" class="">
        Top up your travelmate card from the web interface instantly
      </p>
      <br/>
    </div>
  </div>

  <div class="row">
    <div align="center" class="col-sm-12" >
      <a class="button_circ" ng-click="navigate()">Try now!</a>
    </div>
  </div>
</div>

<div class="article_box" style="padding-top:20px;">
  <div class="row">
    <div align="left" class="col-sm-6" >
      <h3><i class="fa fa-gratipay" ></i>&nbsp;&nbsp;Swipe and Pay</h3>
    </div>
  </div>
  <div class="row">
    <div align="left" class="col-sm-12" >
      <p style="text-align:justify" class="">
        No more travelling without tickets. No more waiting until the conductor comes to you. You'll get the ticket when you get into the b
      </p>
      <br/>
    </div>
  </div>

  <div class="row">
    <div align="center" class="col-sm-12" >
      <a class="button_circ" ng-click="navigate()">Try now!</a>
    </div>
  </div>


</div>

<div class="article_box" style="padding-top:20px;">
  <div class="row">
    <div align="left" class="col-sm-6" >
      <h3><i class="fa fa-birthday-cake" ></i> NextGen</h3>
    </div>
  </div>
  <div class="row">
    <div align="left" class="col-sm-12" >
      <p style="text-align:left" class="">
        Embrace the future of travel. Get your travelmate id using your National ID card.
      </p>
      <br/>
    </div>
  </div>
  <div class="row">
    <div align="center" class="col-sm-12" >
      <a class="button_circ" ng-click="navigate()">Try now!</a>
    </div>
  </div>
</div>

<br/><br/><br/><br/><br/><br/><br/>
