<div class="row">
  <h3>Pizza Offers</h3>
    <br/>
</div>

<div class="article_box" style="padding-top:20px;" ng-repeat="pizza in pizzas">
  <div class="row">
    <div align="left" class="col-sm-6" >
      <h3><i class="fa fa-pie-chart" ></i>&nbsp;&nbsp;{{pizza.name}} &nbsp;<i ng-if="pizza.type==='0'"class="veg fa fa-leaf"></i><i ng-if="pizza.type==='1'" class="meat fa fa-cutlery"></i></h3>
      <br/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="box-wrapper">
        <span><img class="img img_circ img-responsive" ng-src="{{pizza.image}}""/></span>
      </div>
    </div>
    <div class="col-sm-8">
      <div align="left" class="col-sm-12" >
        <p style="text-align:justify" class="">
          {{pizza.description}}
        </p>
        <br/>
        <a class="button_circ input-size">
          <label>Qty&nbsp;<input type="number" min="1" max="10" required ng-model="pizza.qty"/></label>
        </a>
        <a class="button_circ input-size">
          {{pizza.size}}
        </a>
        <a class="button_circ" ng-click="">{{pizza.price*pizza.qty}} /=</a>
        <a class="button_circ" ng-click="navigate(pizza)">Try now!</a>

      </div>
    </div>
  </div>
</div>

<br><br><br><br><br><br>